<html xmlns="http://www.w3.org/1999/xhtml"><head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<script type="text/javascript" xml:space="preserve" src="/engine/includes/jquery-1.11.1.min_v1560509370000.js"></script>
		<script type="text/javascript" xml:space="preserve" src="/engine/includes/jquery.i18n.properties-min-1.0.9_v1560509370000.js"></script>
		<script type="text/javascript" xml:space="preserve" src="/engine/includes/ee.i18n-1.0_v1565783948000.js"></script>
		<script xml:space="preserve">
			/*<![CDATA[*/
			var _MERCHANT_ORIGIN = 'https://1571642635secure-test-sg.ngrok.io',
					_TRANSACTION_ID = 'ba27dde8-cc8b-4709-acb4-cde701146777',
					_MA_RESOLVER_CATEGORY = null,
					_JSON_RESPONSE = {'city':'Berlin','completion_time_stamp':'20191021072546','country':'DE','email':'john.doe@test.com','ip_address':'207.254.76.102','merchant_account_id':'d7855010-64c1-4e66-9ab3-d98b309a3d8c','order_number':'A2','payment_method':'creditcard','phone':'03018425165','postal_code':'13353','request_id':'db6a0cd475197a9c5f7745361d3d20d1dddfe93926086eeadf3904c82c41b94d','requested_amount':'25','requested_amount_currency':'EUR','shipping_city':'Berlin','shipping_country':'DE','shipping_postal_code':'13353','shipping_street1':'Teststrasse','status_code_1':'201.0000','status_description_1':'The resource was successfully created.','status_severity_1':'information','street1':'Teststrasse','transaction_id':'ba27dde8-cc8b-4709-acb4-cde701146777','transaction_state':'success','transaction_type':'check-signature'},
					_THREAT_METRIX_URL = null,
					_MAID = 'd7855010-64c1-4e66-9ab3-d98b309a3d8c',
					_TEMPLATE_NAME = 'ns-payment-form',
					_INIT_LOCALE = 'en',
					_CUSTOM_I18N = {};
			$(document).ready(function() {
				$.eei18n.init({
					"init_locale" : _INIT_LOCALE,
					"custom_translations" : _CUSTOM_I18N
				});
			});
			/*]]>*/
		</script>
		<script type="text/javascript" xml:space="preserve" src="/engine/includes/seamless/seamlessWrapper_v1563352474000.js"></script>
		<link rel="stylesheet" type="text/css" href="/engine/includes/bootstrap/css/bootstrap.min_v1560509366000.css"><script type="text/javascript" src="/engine/includes/bootstrap/js/bootstrap.min_v1560509366000.js"></script><link rel="stylesheet" type="text/css" href="/engine/includes/formvalidation/css/formValidation.min_v1560509368000.css"><script type="text/javascript" src="/engine/includes/formvalidation/js/formValidation.min_v1560509368000.js"></script><script type="text/javascript" src="/engine/includes/formvalidation/js/framework/bootstrap.min_v1560509368000.js"></script><script type="text/javascript" src="/engine/includes/hpp/bootstrapCustomValidator_v1560509368000.js"></script><link rel="stylesheet" type="text/css" href="/engine/includes/hpp/creditcard.helper_v1560509368000.css"><script type="text/javascript" src="/engine/includes/hpp/creditcard.helper_v1560509368000.js"></script>
		<script type="text/javascript" xml:space="preserve">/*<![CDATA[*/(function ($) {
    var isWindowsPhone = navigator.userAgent.match(/Windows Phone/i);
    $(document).ready(function () {
        $("#account_number").on("keyup", function (e) {
            handleCardNumber($(this), e.keyCode || e.which);
        }).on("paste", function () {
            var $this = $(this);
            setTimeout(function () {
                handleCardNumber($this, -1);
            }, 10);
        });
        console.log($('#form1 input').length);
        $('#form1 input').on('keyup', function () {
            console.log('455');
        });
    });
    function handleCardNumber($cardNum, keyCode) {
        var dCType = $.WDHelper.Creditcard.detectCardType($cardNum), curType = $("#card_type").val();
        handleCardType($cardNum.val(), dCType, curType);
        formatCardNumber(keyCode);
    }
    function handleCardType(cardNum, dCType, curCType) {
        if (dCType) {
            $(".card-types-div .btn").each(function (i, btn) {
                var $btn = $(btn), cType = $btn.attr("data-ctype");
                if (cType == dCType) {
                    $btn.removeClass("disabled");
                    if (curCType != "cup" && curCType != "upi") {
                        $btn.addClass("active");
                        setCardType(curCType = cType, $btn.attr("data-cvc-required"));
                    }
                } else if (cType != "cup" && cType != "upi") {
                    if (cType == curCType) {
                        setCardType(curCType = "", "false");
                    }
                    $btn.removeClass("active").addClass("disabled");
                }
            });
        } else {
            if (!curCType || !cardNum || !cardNum.trim()) {
                $(".card-types-div .btn").removeClass("active");
                setCardType(curCType = "", "false");
            }
            $(".card-types-div .btn").removeClass("disabled");
        }
        handleAddonIcons(curCType ? curCType : dCType);
    }
    function setCardType(cType, cvcRequired) {
        $("#card_type").attr("data-cvc-required", cvcRequired).val(cType);
        if (cType) {
            $("#card_type").trigger("change");
        }
        $("#seamless-form").formValidation("revalidateField", "account_number");
        toggleCvcValidation();
        if (!isWindowsPhone) {
            $("#card_security_code").prop('maxLength', cType === 'amex' ? '4' : '3');
            $("#account_number").prop('maxLength', (cType === 'amex' || cType === 'diners') ? '36' : '42');
        }
    }
    function formatCardNumber(keyCode) {
        $.WDHelper.Creditcard.formatCCWithPosition($("#account_number"), $("#card_type"), keyCode);
    }
    function toggleCvcValidation() {
        var $fv = $("#seamless-form").data("formValidation");
        if ($("#card_security_code").val() || $fv.getStatus("card_security_code", "promise") != "NOT_VALIDATED") {
            $fv.revalidateField("card_security_code");
        }
        if ($("#card_type").attr("data-cvc-required") == "true") {
            $("#cvv_optional_label").hide();
        } else {
            $("#cvv_optional_label").show();
        }
    }
    function handleAddonIcons(cType) {
        $(".ctype-addon-icon").attr("class", "ctype-addon-icon");
        $(".cvv-addon-icon").attr("class", "cvv-addon-icon");
        if (cType) {
            $(".ctype-addon-icon").addClass(cType + "-ctype-icon").attr("title", cType.toUpperCase());
            if (cType == "amex") {
                $(".cvv-addon-icon").addClass("amex-cvv-icon");
            } else {
                $(".cvv-addon-icon").addClass("default-cvv-icon");
            }
        } else {
            var $fv = $("#seamless-form").data("formValidation");
            if ($fv.getStatus("account_number", "promise") == "VALID") {
                $(".ctype-addon-icon").addClass("not-detected-ctype-icon").attr("title", "N/A");
                $(".cvv-addon-icon").addClass("default-cvv-icon");
            } else {
                $(".ctype-addon-icon").addClass("unknown-ctype-icon").removeAttr("title");
                $(".cvv-addon-icon").addClass("unknown-cvv-icon");
            }
        }
    }
})(jQuery);/*]]>*/</script>
		<style type="text/css" xml:space="preserve">.row {
  margin-left:-7px!important;
  margin-right:-7px!important;
}
.input-group-addon {
  background:#fdfdfd;
  padding:2px;
}
#seamless-form {
  background-color: transparent;
  height: 100%;
  min-width: 240px;
  overflow: hidden;
  width: 100%;
}
.card-types-div .btn {
  background: none!important;
  border: none!important;
  box-shadow: none!important;
  opacity:.9;
  padding:0 4px 4px 0;
}
.card-types-div .btn-group > .disabled {
  opacity:.4;
}
.card-types-div .btn-group > .active {
  opacity:1;
}
.card-types-div img {
  background: #eee none repeat scroll 0 0;
  background: linear-gradient(#fff, #ddd);
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 3px 4px;
}
.card-types-div .btn-group > .active img {
  background: #ddd none repeat scroll 0 0;
  background: linear-gradient(#fff, #c6c6c6);
  border:1px solid #3c763d;
  box-shadow:0 0 4px #67b168;
}
.card-types-div .form-control-feedback {
  display:none!important;
}
.has-select-feedback .form-control-feedback {
  right: 18px!important;
  top:0!important;
}
.col-csm-8,.col-csm-4 {
  float:left;
  padding-left:15px;
  padding-right:15px;
}
.col-csm-8 {
  width:66.6%
}
.col-csm-4 {
  width:33.3%;
}
@media screen and (max-width: 460px),
  screen and (max-device-width: 460px) {
  .card-wrapper {
	display:table;
	width:100%;
  }
  .cvv-div {
	display:table-footer-group;
  }
  .cvv-div > div {
	padding-left:15px;
	padding-right:15px;
  }
  .col-csm-8,.col-csm-4 {
    float:none;
  	width:100%;
  }
}
.ctype-addon-icon,.cvv-addon-icon {
  background-position:2px 0;
  height:18px;
  width:35px;
}</style>
	</head>
	<body style="background:transparent;">
		<form id="seamless-form" role="form" data-wd-validate-form="true" novalidate="novalidate" class="fv-form fv-form-bootstrap"><button type="submit" class="fv-hidden-submit" style="display: none; width: 0px; height: 0px;"></button>
    <div class="row">
        <div class="card-wrapper">
            <div class="col-csm-8">
                <label data-i18n="card_number">Card number</label>
                <div class="form-group has-feedback has-success">
                    <div class="input-group">
                        <div class="input-group-addon">
                            <div class="ctype-addon-icon visa-ctype-icon" title="VISA"></div>
                        </div>
                        <input type="tel" class="form-control ee-request-nvp" id="account_number" name="account_number" placeholder="Card number" autocomplete="off" tabindex="3" data-fv-promise="true" data-fv-promise-promise="FormValidation.Validator.wdCCAutoRecogDelayed.validate" data-fv-trigger="keyup blur" data-card-type-field="card_type" maxlength="42" data-fv-stringlength="false" data-i18n="card_number" data-allowed-card-types="[amex, cup, jcb, mastercard, visa]" data-fv-field="account_number">
                    </div><i class="form-control-feedback fv-icon-no-label fv-bootstrap-icon-input-group glyphicon glyphicon-ok" data-fv-icon-for="account_number" style="display: block;"></i>
                <small class="help-block" data-fv-validator="promise" data-fv-for="account_number" data-fv-result="VALID" style="display: none;">Please enter a valid value</small></div>
            </div>
            <div class="col-csm-4 cvv-div">
                <div>
                    <label>CVV
                    </label>
                    <div class="form-group has-feedback has-success">
                        <div class="input-group">
                            <div class="input-group-addon">
                                <div class="cvv-addon-icon default-cvv-icon"></div>
                            </div>
                            <input type="tel" class="form-control ee-request-nvp" id="card_security_code" name="card_security_code" placeholder="CVV" autocomplete="off" tabindex="4" data-fv-promise="true" data-fv-promise-promise="FormValidation.Validator.wdCvvDelayed.validate" data-fv-trigger="keyup blur" data-fv-promise-message="enter_cvv" data-credit-card-field="account_number" maxlength="4" data-fv-stringlength="false" data-fv-field="card_security_code">
                        </div><i class="form-control-feedback fv-icon-no-label fv-bootstrap-icon-input-group glyphicon glyphicon-ok" data-fv-icon-for="card_security_code" style="display: block;"></i>
                    <small class="help-block" data-fv-validator="promise" data-fv-for="card_security_code" data-fv-result="VALID" style="display: none;">enter_cvv</small></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <label id="label_expiration_date" data-i18n="expiry_date">Valid until</label>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="form-group has-select-feedback has-feedback">
                <select id="expiration_month_list" class="form-control ee-request-nvp" name="expiration_month" tabindex="5" data-wd-populate-month-options="true" data-fv-notempty="true" data-fv-notempty-message="enter_value" data-fv-wdexpirymonth="true" data-fv-wdexpirymonth-message="invalid_expiry_date" data-fv-wdexpirymonth-yearfield="expiration_year" data-fv-field="expiration_month">
                    <option value="" data-i18n="month" disabled="true" selected="true">Month</option>
                <option value="01">01</option><option value="02">02</option><option value="03">03</option><option value="04">04</option><option value="05">05</option><option value="06">06</option><option value="07">07</option><option value="08">08</option><option value="09">09</option><option value="10">10</option><option value="11">11</option><option value="12">12</option></select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="expiration_month" style="display: none;"></i>
            <small class="help-block" data-fv-validator="notEmpty" data-fv-for="expiration_month" data-fv-result="NOT_VALIDATED" style="display: none;">enter_value</small><small class="help-block" data-fv-validator="wdExpiryMonth" data-fv-for="expiration_month" data-fv-result="NOT_VALIDATED" style="display: none;">invalid_expiry_date</small></div>
        </div>
        <div class="col-sm-4 col-xs-6">
            <div class="form-group has-select-feedback has-feedback">
                <select id="expiration_year_list" class="form-control ee-request-nvp" name="expiration_year" tabindex="6" data-wd-populate-year-options="20" data-fv-notempty="true" data-fv-notempty-message="enter_value" data-fv-wdexpiryyear="true" data-fv-wdexpiryyear-message="invalid_expiry_date" data-fv-wdexpiryyear-monthfield="expiration_month" data-fv-field="expiration_year">
                    <option value="" data-i18n="year" disabled="true" selected="true">Year</option>
                <option value="2019">2019</option><option value="2020">2020</option><option value="2021">2021</option><option value="2022">2022</option><option value="2023">2023</option><option value="2024">2024</option><option value="2025">2025</option><option value="2026">2026</option><option value="2027">2027</option><option value="2028">2028</option><option value="2029">2029</option><option value="2030">2030</option><option value="2031">2031</option><option value="2032">2032</option><option value="2033">2033</option><option value="2034">2034</option><option value="2035">2035</option><option value="2036">2036</option><option value="2037">2037</option><option value="2038">2038</option><option value="2039">2039</option></select><i class="form-control-feedback fv-icon-no-label" data-fv-icon-for="expiration_year" style="display: none;"></i>
            <small class="help-block" data-fv-validator="notEmpty" data-fv-for="expiration_year" data-fv-result="NOT_VALIDATED" style="display: none;">enter_value</small><small class="help-block" data-fv-validator="wdExpiryYear" data-fv-for="expiration_year" data-fv-result="NOT_VALIDATED" style="display: none;">invalid_expiry_date</small></div>
        </div>
    </div>
</form>

	

</body></html>